.CandyData {
    margin: 2rem auto;
    width: 80%;
    max-width: 40rem;
  }
  .CandyData ul {
    padding: 1rem;
    list-style: none;
  }
  .CandyData li {
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.CandyData td {
    padding: 0.5rem;
    margin: 0.5rem 0;
}
